# blob
**/*.o
**/.cache
**/compile_commands.json
**/.DS_Store
**/.$*

copyright/
temp/

# confui
confui/confui

# docs
docs/gen/paged.polyfill.js
docs/*.html
docs/*.toc
docs/*.con
docs/*.pdf
.obsidian
